.driverheading {
    color:#000000;
    font-weight: bold;
    font-size:20px;
    line-height: 1.8;
    width: 100%;
    padding: 1px;
    padding-left:25px;
}

.rightContainer{
        display: inline-block;
        background: #2d2e2d1a;
        top: 68px;
        width: 31%;
        position: absolute;
        right: 0px;
        padding: 10px;
        padding-right: 30px;
}

.midContainer{
    width: 62%;
}