<div class="coltitle">
  <h1>Car Pooling - Admin Portal</h1>
</div>
<div class="userIcon" style="display: inline-block;">
  <a routerLink="">
    <i class="material-icons">mail</i>
  </a>
  <a routerLink="">
    <i class="material-icons">notifications</i>
  </a>
  <button type="button" class="btn btn--flat btn--icon btn--large">
    <div class="btn__content">
      <div class="avatar">
        <img class="profile" src="assets/person/tempDriver.png" alt="Samira Avelar">
      </div>
    </div>
  </button>
</div>