.title {
    background: #EDEDED;
    color:#000000;
    font-weight: bold;
    font-size:15px;
    border-bottom: 5px solid #D9DEE4;
    line-height: 0.7;
    width: 100%;
    padding: 1px;
    padding-left:25px;
}
